.dtb-wizard-heading {
  margin: 0 0 0.5rem;

  &.underline {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #f1f1f1;
  }
}

.dtb-wizard-inline-subhead {
  margin: 0 0.5rem;
  text-transform: lowercase;
}

#dtb-wizard-container {
  z-index: 9999;
  position: fixed;
  background: #333;
  top: 5%;
  color: #f1f1f1;
  width: 30vw;
  min-width: 400px;
  max-width: 500px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;

  #dtb-wizard-build-step-container {
    padding: 0.5rem;
    margin-top: 0.5rem;

    #dtb-wizard-build-step-controls {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding: 0.5rem 0;
      border: 1px solid #f1f1f1;
    }

    .dtb-wizard-event-button {
      white-space: nowrap;
      border: 0;
      padding: 10px;
      text-transform: uppercase;
      font-weight: bold;
      color: #444;
      background: #f1f1f1;
      width: 32%;
      margin: 0.5rem 0;
    }
  } 

  #dtb-wizard-step-controls {
    padding: 0.5rem;
    border-top: 5px solid #f1f1f1;
    margin-top: 0.5rem;

    .dtb-wizard-step-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5rem;

      .dtb-wizard-button {
        border: 0;
        padding: 10px 15px;
        font-weight: bold;
        text-transform: uppercase;
        color: #444;
        margin: 0 0.5rem;
        background: #f1f1f1;
        min-width: 100px;

        &:hover {
          background: #fff;
        }
      }
    }
  }
}
